[Unit]
Description=Timeout service for the Starboard discord app
After=network-online.target

[Service]
WorkingDirectory=WORKINGDIRECTORY
ExecStart=WORKINGDIRECTORY/venv/bin/python3 timeouts.py

[Install]
WantedBy=multi-user.target
