body {
	background-color: bisque;
}

.frame_main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20%;
	
}

.frame_center {
	border: dashed 1px #000000;
	border-radius: 10px;
}

.close_note {
	font-size: small;
}
